apiVersion: apps/v1
kind: Deployment
metadata:
  name: testapi-nazar
spec:
  replicas: 3
  revisionHistoryLimit: 4
  selector:
    matchLabels:
      app: testapi-nazar
  template:
    metadata:
      labels:
        app: testapi-nazar
    spec:
      containers:
        - image: nazarcodefresh/argo:master
          name: testapi-nazar
          ports:
            - containerPort: 1700
